.viewport {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.679);
    font-size:medium;
    border: 3px solid var(--secondary-color);
    background-color: var(--secondary-dark);
    min-width: 2px;
    min-height: 2px;
    transition: transform 1s; 
  }

  .viewport:hover {
    background-color: var(--secondary-light);
    border-radius: 5%;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  .spin {
    transform: rotate(360deg);
    scale: 1.2;
    border-radius: 10%;
    z-index: 100;
  }

  @media screen and (max-width: '500px') {
    .viewport {
      font-size:10px;
    }
  }
    